apps/desktop/release/**/*.yml filter=lfs diff=lfs merge=lfs -text
apps/desktop/release/**/*.yaml filter=lfs diff=lfs merge=lfs -text
apps/desktop/release/*.exe filter=lfs diff=lfs merge=lfs -text
apps/desktop/release/**/*.exe filter=lfs diff=lfs merge=lfs -text
